---
import { getGameById, recommendedGames, upcomingReleases, topRatedGames } from "../../components/data/games";
import Layout from "../../layouts/Layout.astro";
import '@/styles/globals.css';

export async function getStaticPaths() {
    const allGames = [...recommendedGames, ...upcomingReleases, ...topRatedGames];
    return allGames.map(game => ({
        params: { id: game.id.toString() }
    }));
}

const { id } = Astro.params;
const game = getGameById(Number(id));
if (!game) {
    throw new Error(`Game with id ${id} not found`);
}
---

<Layout title={game.title}>
    <main class="bg-neutral-900 p-8 min-h-screen flex items-center justify-center">
        <div class="max-w-4xl mx-auto bg-slate-50 text-black p-6 rounded-lg shadow-lg transform transition-transform hover:scale-105">
            <img src={game.image} alt={game.title} class="w-full h-64 object-cover mb-4 rounded-lg shadow-md" />
            <h1 class="text-4xl font-bold mb-4 text-center">{game.title}</h1>
            <p class="text-lg mb-6 text-neutral-800">{game.description}</p>
            <div class="flex items-center justify-between mb-4 border-t border-gray-700 pt-4">
                <p class="text-2xl font-semibold">Precio: <span class="text-blue-400">{game.price} €</span></p>
                <p class="text-sm text-gray-700">Plataformas: {game.platforms.join(", ")}</p>
            </div>
            <button class="w-full bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded transition-colors">
                Compra ahora
            </button>
        </div>
    </main>
</Layout>